# fastapi==0.110.0
# uvicorn==0.28.0
# python-multipart==0.0.9
# torch==2.2.1
# torchvision==0.17.1
# Pillow==10.2.0
# transformers==4.38.2
# numpy==1.26.4
# serpapi==0.1.5
# requests==2.31.0
# pydantic-settings==2.2.1
# pydantic==2.6.4
# psutil==5.9.8
# python-magic==0.4.27

fastapi==0.110.0
uvicorn==0.28.0
python-multipart==0.0.9
torch==2.2.1
torchvision==0.17.1
Pillow==10.2.0
transformers==4.38.2
numpy==1.26.4
serpapi==0.1.5
requests==2.31.0
pydantic-settings==2.2.1
pydantic==2.6.4
psutil==5.9.8
python-magic==0.4.27